* {
    font-family: 'Noto Serif SC', serif;
}


.teacher:hover {
    cursor: pointer;
}

.curriculum:hover {
    background-color: rgb(95, 160, 111);
    cursor: pointer;
}

.tt {
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

p {
    font-size: 120%;
}

.contact-emial, .contact-wechat {
    cursor: pointer;
    text-decoration: none !important;
}
